<!DOCTYPE html>
<html data-theme="corporate" lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ settings.title|default("Mon site web") }}{% endblock %}</title>
        <meta name="description" content="{{ settings.description|default('Bienvenue sur mon site') }}">
        <link rel="icon" href="{{ settings.favicon }}">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script  src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        {% endblock %}
    </head>
    <body>
    {% include('./Themes/Business/components/Navbar.html.twig') %}
    {% include 'components/toast.html.twig' %}
        {% block body %}{% endblock %}
        {% include('./Themes/Business/components/Footer.html.twig') %}
    </body>
</html>
