{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">

    <div>
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'input input-bordered w-full', 'placeholder': 'Titre de l’article'}}) }}
        <span class="text-red-500">{{ form_errors(form.title) }}</span>
    </div>

    <div>
        {{ form_label(form.subtitle) }}
        {{ form_widget(form.subtitle, {'attr': {'class': 'input input-bordered w-full', 'placeholder': 'Sous-titre ou phrase d’accroche'}}) }}
        <span class="text-red-500"> {{ form_errors(form.subtitle) }}</span>
    </div>

    <div class="md:col-span-2">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'textarea textarea-bordered w-full', 'rows': 3, 'placeholder': 'Brève description de l’article'}}) }}
        <span class="text-red-500"> {{ form_errors(form.description) }}</span>
    </div>

    <div class="md:col-span-2">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {
            'attr': {
            'id': 'markdown-editor',
                'class': 'textarea textarea-bordered w-full h-40',
                'placeholder': 'Contenu complet en Markdown',
                'data-controller': 'markdown-editor'
            }
        }) }}
        <span class="text-red-500">{{ form_errors(form.content) }}</span>
    </div>

    <div class="md:col-span-2">
        {{ form_label(form.coverPicture) }}
        {{ form_widget(form.coverPicture, {'attr': {'class': 'input input-bordered w-full'}}) }}
        <span class="text-red-500">{{ form_errors(form.coverPicture) }}</span>
    </div>

    <div class="md:col-span-2">
        {{ form_label(form.tags) }}
        {{ form_widget(form.tags, {'attr': {'class': 'input input-bordered w-full', 'placeholder': 'ex: Symfony, Angular'}}) }}
        <span class="text-red-500"> {{ form_errors(form.tags) }}</span>
    </div>

    <div class="md:col-span-2">
        {{ form_label(form.author) }}
        {{ form_widget(form.author, {'attr': {'class': 'select select-bordered w-full'}}) }}
        <span class="text-red-500"> {{ form_errors(form.author) }}</span>
    </div>
</div>

<div class="mt-8 flex justify-end">
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
